/.gitconfig
/.idlerc
/.lesshst
/.m2
/.nbi
/.vscode
/3D Objects
/AppData
/Contacts
/Desktop
/Documents
/Downloads
/Favorites
/GNS3
/InstallAnywhere
/Links
/Music
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{9ebaa433-1566-11ec-a2e7-841b77e3a386}.TM.blf
/NTUSER.DAT{9ebaa433-1566-11ec-a2e7-841b77e3a386}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{9ebaa433-1566-11ec-a2e7-841b77e3a386}.TMContainer00000000000000000002.regtrans-ms
/ntuser.ini
/Pictures
/projek1febryan
/Saved Games
/Searches
/Videos
/OneDrive
/Application Data
/Cookies
/Local Settings
/My Documents
/NetHood
/PrintHood
/Recent
/SendTo
/Start Menu
/Templates